<span id="todo-count">
    {{{ngtt '<strong>%d</strong> item left' '<strong>%d</strong> items left' activeCount }}}
</span>
<ul id="filters">
    <li>
        <a href="#">{{gtt 'All' }}</a>
    </li>
    <li>
        <a href="#active">{{gtt 'Active' }}</a>
    </li>
    <li>
        <a href="#completed">{{gtt 'Completed' }}</a>
    </li>
</ul>
<button id="clear-completed" {{#unless completedCount }}class="hidden"{{/unless }}>
    {{gtt 'Clear completed' }} ({{ completedCount }})
</button>
